.testCodePanel
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.testCodePanel .leftPanel, .testCodePanel .rightPanel
{
	position: absolute;
	top: 10px;
	bottom: 10px;
}

.testCodePanel .leftPanel
{
	left: 10px;
	right: calc(50% + 7px);
}

.testCodePanel .rightPanel
{
	left: calc(50% + 7px);
	right: 10px;
}

.testCodePanel .panel
{
	position: absolute;
	padding: 0px;
	border: solid 1px rgb(223, 223, 223);
	overflow: auto;
}

.testCodePanel .topPanel, .testCodePanel .bottomPanel, .testCodePanel .buttonsPanel
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.testCodePanel .topPanel
{
	top: 0px;
	bottom: 285px;
	padding: 10px;
}

.testCodePanel .bottomPanel
{
	top: calc(100% - 267px);
	bottom: 47px;
}

.testCodePanel .buttonsPanel
{
    top: calc(100% - 37px);
	bottom: 10px;
}

.testCodePanel .topPanel pre, .testCodePanel .topPanel code, 
.testCodePanel .bottomPanel pre, .testCodePanel .bottomPanel code
{
	padding: 0px;
	margin: 0px;
	text-align: left;
}

.testCodePanel .topPanel code, 
.testCodePanel .bottomPanel code
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: auto;
}

.testCodePanel .bottomPanel code
{
	color: #d1242e;
}

.testCodePanel .testFrame
{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border: solid 1px rgb(223, 223, 223);
}