.codeEditor
{
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	right: -1px;
	top: -1px;
	bottom: -1px;
	background-color: rgb(40, 40, 40);
	overflow: hidden;
}

.codeEditor code { padding: 10px; }

.codeEditor .editor, .codeEditor .render, .codeEditor .search-layer, .codeEditor .same-layer
{
	padding: 15px;
	font-family: monospace;
	/*font-size: 13px;*/
	margin: 0px;
	tab-size: 30px;
	position: absolute;
	left: 45px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: rgb(200, 200, 200);
	background-color: rgba(40, 40, 40, 0.0);
	text-align: left;
	border: none;
	border-top: 1px solid rgb(128, 128, 128);
	overflow: auto;
}

.codeEditor .search-layer { color: rgba(200, 200, 200, 0.0); }

.codeEditor .search-layer .searched
{
	color: rgb(255, 255, 255);
	background: rgb(128, 128, 128);
}

.codeEditor .same-layer { color: rgba(200, 200, 200, 0.0); }
.codeEditor .same-layer .same { background-color: rgb(80, 80, 80); }

.codeEditor .editor
{
	white-space: pre;
	color: rgba(200, 200, 200, 0.0);
	caret-color: rgb(200, 200, 200);
	resize: none;
}

.codeEditor .editor::selection
{
	background-color: rgba(250, 189, 44, 1.0);
	color: rgb(0, 0, 0);
}

.codeEditor .render { color: rgb(230, 230, 230); }

/*.codeEditor .editor, .codeEditor .render div
{
	margin: 0px;
	padding: 0px;
	text-align: left;
}*/

.codeEditor .num-lines
{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 45px;
	text-align: left;
	background-color: rgb(20, 20, 20);
	color: rgb(200, 200, 200);
	border-right: 1px solid rgb(128, 128, 128);
	border-top: 1px solid rgb(128, 128, 128);
	overflow: hidden;
}

.codeEditor .num-lines code
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 7px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	overflow: hidden;
}

.codeEditor .num-lines code div
{
	position: relative;
	padding: 0px;
	padding-left: 7px;
	width: 100%;
}

.codeEditor p
{
	/*display: inline-block;*/
	padding: 0px;
	margin: 0px;
	height: 0px;
	width: 0px;
	/*display: none;*/
}

.codeEditor .highlighted-line
{
	background-color: rgb(50, 50, 50);
	border-top: 1px dotted rgb(120, 120, 120);
	border-bottom: 1px dotted rgb(120, 120, 120);
	top: -1px;
}

.codeEditor > .highlighted-line
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: -1000px;
    height: 0px;
}

.codeEditor .search-panel
{
	display: none;
	font-family: Arial;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 0px;
	padding: 5px;
	padding-right: 15px;
	border: solid 1px rgb(128, 128, 128);
	background-color: rgb(40, 40, 40);
}

.codeEditor .search-panel table { width: unset; }

.codeEditor .search-panel td,
.codeEditor .search-panel th
{
	text-align: center;
}

.codeEditor .search-panel .navigation svg
{
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.codeEditor .search-panel .close-search-icon
{
	position: absolute;
	right: 7px;
	top: 5px;
	font-size: 1.2em;
	cursor: pointer;
	color: rgb(242, 98, 33);
}