.formPanel { position: relative; }

.formPanel table
{
	border-collapse: collapse;
	width: 100%;
}

.formPanel table th
{
	padding-top: 15px;
	padding-bottom: 10px;
}

.formPanel table td
{
	text-align: left;
	padding: 7px;
}

.formPanel table .right
{
	text-align: right;
}

.formPanel tr:hover
{
	background-color: rgba(0, 0, 0, 0.05);
}

.formPanel textarea
{
	width: calc(100% - 20px);
	min-width: calc(100% - 20px);
	max-width: calc(100% - 20px);
	min-height: 150px;
	/*resize: none;*/
}

.formPanel td input[type="text"], .formPanel td input[type="password"], .formPanel td input[type="time"], 
.formPanel td input[type="email"], .formPanel td input[type="tel"], .formPanel td input[type="number"]
{
	width: calc(100% - 40px);
	min-width: calc(100% - 40px);
	max-width: calc(100% - 40px);
}

.formPanel td .listBox
{
	border: solid 1px rgb(160, 160, 160);
	width: calc(100% - 40px);
	text-align: center;
	margin: auto;
}

.formPanel td .codeEditor
{
	position: relative;
	width: calc(100% - 20px);
	min-width: calc(100% - 20px);
	max-width: calc(100% - 20px);
	margin: auto;
	/*min-height: 40px;*/
	height: 200px;
	border: solid 1px rgb(160, 160, 160);
	background-color: rgba(40, 40, 40, 0);
	
}

.formPanel td .codeEditor code
{
	/*width: calc(100% - 65px);
	min-width: calc(100% - 65px);
	max-width: calc(100% - 65px);*/
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	text-align: left;
}

.formPanel td .codeEditor .num-lines,
.formPanel td .codeEditor .num-lines code
{
    overflow: hidden;
}

.formPanel pre code
{
	padding: 10px;
	text-align: left;
}