.help-popup .popupContent
{
	position: absolute;
	left: 100px;
	right: 100px;
	top: 100px;
	bottom: 100px;
}

.help-popup .popupContent h2
{
	position: absolute;
	left: 30px;
	right: 30px;
	top: 30px;
}

.help-popup .help-block
{
	position: absolute;
	left: 30px;
	right: 30px;
	top: 35px;
	bottom: 30px;
	padding: 20px;
	text-align: left;
	border: solid 1px rgb(160, 160, 160);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
	overflow: auto;
	font-family: monospace;
}

.help-popup .help-block pre
{
	background-color: rgb(255, 255, 255, 0);
}

.help-popup .copyIcon
{
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}