.select
{
	position: relative;
	display: inline-block;
}

.select .icon
{
	position: absolute;
	right: 7px;
	top: 0px;
	bottom: 0px;
}

.select .icon *
{
	display: inline-block;
	vertical-align: middle;
}

.select .panel, .selectPanel
{
	position: absolute;
	padding: 0px;
	z-index: 1000000000;
}

.select .panel ul, 
.selectPanel ul 
{
	padding: 0px;
}

.select .panel li,
.selectPanel li
{
	list-style-type: none; 
	margin: 0px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 15px;
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
}

.select .panel li *,
.selectPanel li *
{
	vertical-align: middle;
}