.popup
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 100000000;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
}

.popupContent
{
	position: relative;
	display: inline-block;
	padding: 0px;
	vertical-align: middle;
}

.popup .popupContent .close
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 10;
}

.popup .popupContent .infoBlock,
.popup .popupContent .confirmBlock
{
	display: inline-block;
	vertical-align: middle;
	margin: 30px;
}

.popup .popupContent .infoContent { margin-bottom: 20px; }
.popup h2 { margin-top: 0px; }