
{
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
}

{
	min-width: 75px;
	min-height: 35px;
}


{
	display: inline-block;
	width: 20px;
	margin-left: 10px;
}


{
	width: 60px !important;
	text-align: center;
}
